.idea/
.vscode/
.vcode
.DS_Store
/hw2/test.txt
/hw2/anothertest.txt
file.csv
output.json
output2.json
/hw4/useractions/db/config.php
/hw4/registration/db/config.php
/hw4/test.html
/hw4/useractions/pictures/
.php_cs.cache
vendor/
pr1-hamburger/mailer-config.php
pr2-mvc/.htaccess
hw4/useractions/db/config.php
/pr1-hamburger/adminka/config.php
